* {
    font-family: 'Caveat', cursive;
    ;
}

body {
    background-image: url(../goose.fotos/27back.jpg);
    display: flex;
    justify-content: center;
}

h3 { 
    
    font-size: 50px;
}

.container {
   

    margin-top: 150px;
    width: 200px;
    height: 350px;
}

img {
    width: 200px;
    height: 300px;
}

.parrafo {
   font-size: 25px; 
    background-color: rgb(100, 111, 111);
}