* {
    font-family: 'Caveat', cursive;
    ;
    font-size: 10px;
}

body {
    background-image: url(../vinosady.logos.img/backcapricho.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h2 {margin-top: 0%;
    margin-bottom:0% ;
    text-align: center;
    font-size: 100px;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 0%;

}

img {
    width: 220px;
    height: 300px;
}

.calibres {
    margin: 50px;

    background-color: rgb(85, 87, 87);

}