* {
    background-image: url(../imagenes.index/cervezas-quilmes.back.webp );
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Caveat', cursive;
}

h2 {margin-top: 5px;
    text-align: center;
    color: whitesmoke;
    text-shadow: 5px 5px 10px rgba(149, 2, 2, 0.786);
    font-size: 100px;
    padding-top: 80px;
}

li {
    display: inline;
    list-style: none;
padding-left:20px ;
}

img {
    width: 200px;
    height: 200px;
    
    border-radius: 20px;
    border: 5px solid
}

p {margin-top: 1px;
    text-align: center;
    font-size: 30px;
}