* {
    font-family: 'Caveat', cursive;
    ;
    font-size: 10px;
}

body {
    background-image: url(../vinosady.logos.img/novecentoback2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-size: 100% 105%;
}

h2 {
    margin-top: 0%;
    margin-bottom: 0%;
    text-align: center;
    font-size: 100px;
}

#legado {
    width: 80px;
    height: 300px;
    background-color: aliceblue;
}

#legado1 {
    width: 130px;
    height: 305px;
    background-color: aliceblue;
}
#legado2{ width: 220px;
    height: 300px;
    background-color: aliceblue;
;}

    
h3 {
    margin-top: 0%;
    margin-bottom: 0%;
    text-align: center;
    font-size: 30px;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 0%;

}

.img {
    justify-content: center;
    padding-left: 70px;
}

.img1 {
    padding-left: 50px;
}

img {
    width: 220px;
    height: 300px;
    border-radius: 2%;
}


.calibres {
    margin: 50px;
    width: 220px;
    margin-top: 0%;
    background-color: rgb(243, 245, 245);
    padding-top: 0%;
    border-radius: 2%;
}

.back button {
    padding-bottom: 0%;
    margin: 0%;
}