* {
    font-family: 'Caveat', cursive; margin-top:0px;
   
}

 .back1{  background-image: url(../vinosady.logos.img/ginysidras/backgin.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0px;
    }
    .back2{ background-image: url(../vinosady.logos.img/ginysidras/sidraback.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    background-attachment: fixed;
margin-top: 0px;}
h2 {
    text-align: center;
    font-size: 100px;
    padding-top: 10px
}
.calibres{padding-left: 100px;}
.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 0%;
}
img {
    width: 200px;
    height: 200px;

    border-radius: 20px;
}

p {
    text-align: center;
    font-size: 50px;
}