* {
    font-family: 'Caveat', cursive;
    background-color: rgb(199, 195, 195);
}

h2 {
    text-align: center;
    font-size: 100px;
    padding-top: 10px
}

li {
    display: inline;
    list-style: none;
}

img {
    width: 200px;
    height: 200px;
    padding-left: 20px;
    border-radius: 20px;
}

p {
    text-align: center;
    font-size: 50px;
}