* {
    font-family: 'Caveat', cursive;
}

body {
    background-image:url(../temple.fotos/con-ustedes-nuestra-fabrica.jpg);
}

h2 {margin-top:30px ;
    text-align: center;
    font-size: 150px;
}

.container {
    display: flex;
    justify-content: center;
}

.temple {
    margin-top: 130px;
    border: 2px solid;
    background-color: rgb(100, 111, 111);
margin-left:10px;
}

img {
    width: 250px;
    height: 250px;
    border: 1px solid;
    ;
}